<!DOCTYPE html>
<html lang="en">
<%- include('includes/head')%>
<body class="page dashboard-page">
    <%- include('includes/header')%>
    <main class="container">
        <% if(posts.length ==0 ){%> 
        <h4 class="page-subtitle"> Wellcome <%= user.username %>,write to start </h4>
        <% } else {  %>
            <h4 class="page-subtitle">Wellcome <%= user.username %> ,whats on your mind </h4>
         <%}  %>

        <ul class="post-list">
            <% posts.forEach(post =>{ %>
                
                <a class="post-list__item" href="/post/<%= post.id %>"> 

                    <li ><span class="post-list__date"><%= new Date(post.createdDate).getMonth() + 1 %>
                        /<%= new Date(post.createdDate).getDate() %> /
                        <%= new Date(post.createdDate).getFullYear() %></span>
                    </li>
                    <div class="titly">
                       <%= post.title %>.
                       <div class="post-body">
                            <%- filterUserHTML(post.body) %>
                           
                       </div>
                       
                       
                    </div>
                </a> 

                
            <%}) %>
        </ul>
    </main>
    <%- include('includes/footer')%>
</body>
</html>