<!DOCTYPE html>
<html lang="en">
<%- include('includes/head')%>
<body class="page edit-post-page">
    <!-- <header>
        <h2 class="hedernav"><a href="/">Our Wonderfull App</a></h2>
        
    </header> -->
     <%- include('includes/header')%>
    <main class="container">
        <form class="post-form" id="edit-post-form" action="/edit-post/<%= post.id %>" method="POST">  
            <% errors.forEach(error => 
            { %> <p className="notice error"><%= error %></p> <% 
        }) %>
            
        <fieldset class="card">
            <legend class="card__title">Editing the post</legend>
            <div class="titles">
                <label class="form-label" for="title"><small>Title</small></label>
                <input class="input" type="text" value="<%= post.title %>" id="title" name="title" autocomplete="">

            </div>
            <div class="bodies">
                <label class="form-label" for="body"><small>Content</small></label>
                <textarea class="textarea" name="body" id="body"> <%= post.body %> </textarea>
            </div>

            
            <br>
            <button class="button button--primary">Save Change</button>
        </fieldset>
        </form>
       
    </main>
    <%- include('includes/footer')%>
</body>
</html>